<!DOCTYPE html>
<html>
  <head>

    <%= render 'layouts/dashboard/head' %>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="hold-transition skin-green sidebar-mini">
    <div class="wrapper">
        <%= render 'layouts/dashboard/nav' %>
        <%= render 'layouts/dashboard/left-sidebar' %>
        <%= yield %>
        <%= render 'layouts/dashboard/footer' %>
        <div class="control-sidebar-bg"></div>
    </div>
  </body>


</html>
